page-home {
    
  ion-header{
    background: map-get($colors, primary);
  }
    
  ion-content {
    .item-md, .item-ios {
      background: none;
    }
  }

  .chat-message {
    width: 80%;
    min-height: 40px;
    .right-bubble {
        position: relative;
        background: map-get($colors, primary);
    }

    .left-bubble {
        position: relative;
        background: map-get($colors, primary);
    }
  }
  
}


.footer2{
  background: white;
  height: 50%;

}


.textMorse{
  height: 15%;
  background:#fff;
  text-align: center;
  border-radius: 10px;
  border-width: 1.5px;
  border-style: solid;
  border-color: map-get($colors, primary);
  h1{
    margin: 0;
  }
}


.sendMorse{
  height: 5%;
  background: #488aff;
  text-align: center;
  padding: 1%;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
}

.sendMorseText{
  color: #fff;
  display: inline;
  margin-left: 10px;
}

.sendMorseIcon{
  color: #fff;
  margin-left: 45%;
  font-size: 40px;
  
}


.inputMorse{
  margin-top: 0px;
}



.inputMorseRight{
  color: #fff;
  height: 7em;
  background: #488aff;
  align-items: center;
  padding-top: 20%;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #fff;

  .icon{
    position: absolute;
    top: 22%;
    left: 35%;
    font-size: 60px;
    
  }
}

.inputMorseLeft{
  color: #fff;
  height: 7em;
  background: #488aff;
  padding-top: 20%;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
  .icon{
    position: absolute;
    top: 22%;
    left: 35%;
    font-size: 60px;
    
  }
}

  .inputMorseSpace{
    color: #fff;
    height: 6em;
    margin-top: 8 px;
    background: #488aff;
    align-items: center;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
  
    .icon{
      position: absolute;
      font-size: 40px; 
      left: 35%;
      top: 13%;
      
      
    }
  }

  .message {
    p {
      color: black;
      font-size: 13px;
      margin: 10px;
      max-width: 95%;
      min-width: 55%;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      padding: 10px 15px 10px 7px;
      margin: 5px 0;
      background: #ffffff;
    }

  }

  .incoming {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    p {
      color: black;
      border-radius: 0 11px 11px 11px;
      background: #ede2fd;
    }
  }

  .outcoming {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    p {
      color: white;
      background: #4169E1;
      border-radius: 11px 11px 0 11px;
    }
  }

.touch{
  position:relative; 
  z-index:1;
  width: 100%;
  height: 100%;

    .touchUp{
      background-color: black;
      width: 100%;
      height: 22em;
    }
    .touchDown{
      background-color: transparent;
      width: 100%;
      height: 22em;
    }
  
  
}


