page-register {
    
    .Back{
        height: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .IconBack{
        color: map-get($colors, primary);
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .Logo{
        width: 200px;
        height: 100px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Content{
        position: relative;
    }
    
    .Card{
        margin-top: 5%;
        background: #fff;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .Card .Header-Card{
        background-color: map-get($colors, primary);
        color: #fff;
    }
}

.LogDivItemName{
    margin-top: 15px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}


.LogDivItemNumber{
    margin-top: 15px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.LogDivItemPassword{
    margin-top: 15px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.Icon{
    color: map-get($colors, primary);
}

.Next{
    width: 200px;
    height: 35px ;
    color: #fff;
    background: map-get($colors, primary);
    text-align: center;
    border-radius: 30px;
    padding: 0;
    padding-top: 5px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

.TextNext{
    display: inline;
    font-size: 20px;
}

.Arror-Icon-Forward{
    display: inline;
    float: right;
    font-size: 20px;
    padding-top: 2px;
    padding-right: 20px;
}

.Arror-Icon-Back{
    display: inline;
    float: left;
    font-size: 20px;
    padding-top: 2px;
    padding-left: 20px;
}
